

form {
  text-align: left;
  /* line-height: 30px; */
  overflow: auto;
}

input {
	padding: 7px;
}

.submit {
	font-size: 1.3rem;
	font-family: Perpetua, Georgia, Baskerville, Superclarendon, Verdana;
	color: #fff;
	background-color: maroon;
	width: 100px;
	padding: 10px;
	border-radius: 25px;
}
.submit:hover {
	color: maroon;
	background-color: #fff;
}
