
/* latin */
@font-face {
  font-family: 'Rock Salt';
  font-style: normal;
  font-weight: 400;
  src: local('Rock Salt Regular'), local('RockSalt-Regular'), url(https://fonts.gstatic.com/s/rocksalt/v9/MwQ0bhv11fWD6QsAVOZrt0M6p7NGrQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  	margin: 0;
  	padding: 0;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
	width: 100%;
}

body {
	font-family: Perpetua, Georgia, Baskerville, Superclarendon, Verdana;
	color: #fff;
}

nav {
	background-image: url(../images/nav_sunset2.2x.jpg);
	padding-top: 17px;
	text-align: right;
	position: fixed;
	top: 0;
	z-index: 10;
	white-space: nowrap;
	overflow: hidden;
}

header {
	background-image: url(../images/sunset2.2x.jpg);
	padding-top: 55px;
	padding-bottom: 55px;
	height: 680px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

header p {
	margin-top: 55px;
	margin-bottom: 60px;
}

nav, header {
	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat;
  	width: 100%;
	font-size: 1.2rem;
	font-weight: bold;
}

nav a {
	color: #fff;
	padding-left: 10px;
	padding-right: 35px;
}
header a {
	color: #fff;
	margin-right: 30px;
}

/* Hide the link that should open and close the topnav on small screens */
nav .icon {
  display: none;
}

main {
	background-color: grey;
	position: relative;
	font-size: 1.5rem;
}

main p {
	padding: 10px 0;
}

section {
	min-height: 750px;
	width: 85%;
	margin: 0 auto;
	padding: 80px 50px;
	overflow: hidden;
}

a {
	text-decoration: none;
}

img {
	border: 0;
	vertical-align: bottom;
}

h1 {
	font-family: "Rock Salt", "Bradley Hand", "Apple Chancery", Serif;
	font-size: 5.5rem;
	padding-top: 5px;
	margin-bottom: 10px;
}

h2 {
	font-size: 3.1rem;
}

h3 {
	font-size: 2rem;
	text-align: center;
	padding-bottom: 30px;
}

footer {
	background-color: #000;
	padding: 17px;
	font-size: 1.1rem;
	text-align: center;
}

.headerlink {
	display: inline-block;
}

.social {
	border: 1px solid #fff;
	padding: 15px;
	border-radius: 10px;
}

.social:hover {
	color: #000;
	background-color: #fff;
}

#navReneeLink{
	font-size: 1.3rem;
	float: left;
}

#about img {
	width: 11.8rem;
	height: 13rem;
	padding-right: 15px;
}

#portfolio img {
	width: 30%;
	height: auto;
	display: block;
	float: left;
	margin: 15px 15px 15px 0;
}

#contact {
	text-align: center;
}

#contact a {
	text-decoration: none;
	color: maroon;
}
#contact a:hover {
	text-decoration: underline;
}

.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}


/* ======================== Responsive Design  =============================== */

@media only screen and (max-width: 1200px) {
  #portfolio img {
  	width: 46%;
  	height: 46%;
  }
}

@media only screen and (max-width: 950px) {
  section {
	width: 100%;
  }
  #portfolio img {
  	width: 46%;
  	height: 46%;
  }
}

@media only screen and (max-width: 900px) {
  #portfolio img {
  	width: 75%;
  	height: 46%;
  }
}

@media only screen and (max-width: 795px), (orientation: portrait) {
/* When the screen is less than 795 pixels wide, hide all links, except for the first 
one ("Renee Y. Lewis"). Show the link that contains should open and close the nav (.icon) */
  nav {
  	background-image: none;
  	background-color: #000;
  	text-align: left;
	border-bottom: 1px solid #fff;
	margin: 0;
	padding-top: 8px;
	font-size: 1.1rem;
  }
  nav a:not(:first-child) {
    display: none;
  }
  #navReneeLink{
	font-size: 1.1rem;
	float: none;
  }
  nav a.icon {
    float: right;
    display: block;
    padding-right: 15px;
  }
  nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
	padding-top: 7px;
  }
  nav.responsive a {
    display: block;
    margin: 0;
    text-align: left;
    line-height: 30px;
  }
  #navlinks {
   	padding-top: 6px;
  	padding-bottom: 3px;
  }
  #navlinks:hover {
	background: #efa476;
  }
  header {
  	font-size: 1rem;
  }
  section {
  	padding: 80px 20px;
  }
  h1 {
	font-size: 2.5rem;
	padding-top: 35px;
	margin-bottom: 25px;
  }
  h2 {
  	font-size: 1.3rem;
  }
  header p {
	margin-top: 45px;
	margin-bottom: 80px;
  }
  h3 {
	font-size: 1.6rem;
	padding-bottom: 30px;
  }
  main {
	font-size: 1.3rem;
  }
  .headerlink {
	display: block;
	margin: 45px;
  }
  .social {
  	padding: 10px;
  }
  #portfolio img {
  	width: 95%;
  	height: 46%;
  }
  #about img {
	width: 7.5rem;
	height: 8rem;
  }
  #contact {
  	font-size: 1.2rem;
  }
}

