* {
  	margin: 0;
  	padding: 0;
	box-sizing: border-box;
}

html, body { /* IE needs min-width on the body */
	min-width: 1000px;
}

html {
	overflow-y: scroll;
}

body {
	font-family: Perpetua, Georgia, Baskerville, Superclarendon, Verdana;
	color: #fff;
}

header {
	background-image: url(../images/sunset2.2x.jpg);
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	white-space: nowrap;
	height: 680px;
	padding-top: 55px;
	padding-bottom: 55px;
	position: relative;
}

header p {
	margin-top: 75px;
	margin-bottom: 60px;
}

nav {
	background-image: url(../images/nav_sunset2.2x.jpg);
	font-size: 18px;
	width: 100%;
	padding: 18px;
	position: fixed;
	top: 0;
	z-index: 10;
}
 
nav li {
	float: left;
}

nav a:hover {
	border-bottom: 1px solid #fff;
}

nav, header {
	margin-left: auto;
	margin-right: auto;
}

nav a,
header a {
	color: #fff;
	margin-right: 30px;
}

main {
	background-color: grey;
	position: relative;
	font-size: 25px;
}

main p {
	padding: 10px 0;
}

section {
	width: 950px; 
	height: 750px;
	margin: auto;
	padding: 80px 50px;
}

a {
	text-decoration: none;
}

img {
	border: 0;
	vertical-align: bottom;
}

h1 {
	font-family: "Bradley Hand", "Apple Chancery", Verdana;
	font-size: 120px;
	padding-top: 20px;
	margin-bottom: 40px;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 35px;
	padding-bottom: 30px;
}

.headerlink {
	display: inline-block;
}

.social {
	border: 1px solid #fff;
	padding: 15px;
	border-radius: 10px;
}

.social:hover {
	color: #000;
	background-color: #fff;
}

#portfolio {
	background-image: url(../images/fresh_snow.png) repeat;
}

#about img,
#portfolio img {
	padding-right: 15px;
}

.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

.clearRight {
	clear: right;
}

.clearLeft {
	clear: left;
}

/*

@media only screen and (max-width: 1024px) {
	#header, #nav {
		float: none;
		width: auto;
	}
}

@media only screen and (max-width: 600px) {
	#header, #nav {
		float: none;
		width: auto;
	}
	#main, aside {
		float: none;
		width: auto;
	}
}
*/

